schema/asciidoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!-- Root element -->
    <xs:element name="asciidoc">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="header" minOccurs="0"/>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="BlockGroup"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="doctype" type="xs:string" default="article"/>
        </xs:complexType>
    </xs:element>

    <!-- Header -->
    <xs:element name="header">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="InlineContent" minOccurs="0"/>
                <xs:element ref="author" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="revision" minOccurs="0"/>
                <xs:element ref="attribute" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="author">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="email" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="revision">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="number" type="xs:string" minOccurs="0"/>
                <xs:element name="date" type="xs:string" minOccurs="0"/>
                <xs:element name="remark" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="attribute">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="value" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Block Elements -->
    <xs:group name="BlockGroup">
        <xs:choice>
            <xs:element ref="section"/>
            <xs:element ref="paragraph"/>
            <xs:element ref="codeblock"/>
            <xs:element ref="literalblock"/>
            <xs:element ref="example"/>
            <xs:element ref="sidebar"/>
            <xs:element ref="quote"/>
            <xs:element ref="table"/>
            <xs:element ref="list"/>
            <xs:element ref="admonition"/>
            <xs:element ref="image"/>
            <xs:element ref="thematicbreak"/>
            <xs:element ref="pagebreak"/>
        </xs:choice>
    </xs:group>

    <xs:element name="section">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="BlockGroup"/>
            </xs:choice>
            <xs:attribute name="level" type="xs:integer" use="required"/>
            <xs:attribute name="marker" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="paragraph">
        <xs:complexType mixed="true">
            <xs:group ref="InlineGroup" minOccurs="0" maxOccurs="unbounded"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="codeblock">
        <xs:complexType mixed="true">
            <xs:attribute name="language" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="literalblock">
        <xs:complexType mixed="true"/>
    </xs:element>

    <xs:element name="example">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="BlockGroup"/>
            </xs:choice>
            <xs:attribute name="title" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="sidebar">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="BlockGroup"/>
            </xs:choice>
            <xs:attribute name="title" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="quote">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="BlockGroup"/>
            </xs:choice>
            <xs:attribute name="attribution" type="xs:string"/>
            <xs:attribute name="citation" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="table">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="row" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="cols" type="xs:string"/>
            <xs:attribute name="frame" type="xs:string"/>
            <xs:attribute name="grid" type="xs:string"/>
            <xs:attribute name="role" type="xs:string"/>
            <xs:attribute name="options" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="row">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cell" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="cell">
        <xs:complexType mixed="true">
            <xs:group ref="InlineGroup" minOccurs="0" maxOccurs="unbounded"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="style" type="xs:string"/>
            <xs:attribute name="marker" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="item">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="InlineGroup"/>
                <xs:group ref="BlockGroup"/>
            </xs:choice>
            <xs:attribute name="term" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="admonition">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="paragraph"/>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="image">
        <xs:complexType>
            <xs:attribute name="src" type="xs:string" use="required"/>
            <xs:attribute name="alt" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="thematicbreak">
        <xs:complexType/>
    </xs:element>

    <xs:element name="pagebreak">
        <xs:complexType/>
    </xs:element>

    <!-- Inline Elements -->
    <xs:complexType name="InlineContent" mixed="true">
        <xs:group ref="InlineGroup" minOccurs="0" maxOccurs="unbounded"/>
    </xs:complexType>

    <xs:group name="InlineGroup">
        <xs:choice>
            <xs:element ref="strong"/>
            <xs:element ref="emphasis"/>
            <xs:element ref="monospace"/>
            <xs:element ref="link"/>
        </xs:choice>
    </xs:group>

    <xs:element name="strong">
        <xs:complexType mixed="true">
            <xs:attribute name="marker" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="emphasis">
        <xs:complexType mixed="true">
            <xs:attribute name="marker" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="monospace">
        <xs:complexType mixed="true">
            <xs:attribute name="marker" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="link">
        <xs:complexType mixed="true">
            <xs:attribute name="href" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
